<%- include('../_partials/header'); %>
<div class="container" id="eval">
    <h4><I>Evaluation</I></h4>
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 25rem;">
            <img class="card-img-top" :src="q[i].img">
            <div class="card-body" style="font-size: 150%; line-height: 200%;">
                <div>
                    <label><input type="radio" name="ans" value="0" v-model="picked" /> {{q[i].words[0] }}</label>
                </div>
                <div>
                    <label><input type="radio" name="ans" value="1" v-model="picked" /> {{q[i].words[1] }}</label>
                </div>
                <div>
                    <label><input type="radio" name="ans" value="2" v-model="picked" /> {{q[i].words[2] }}</label>
                </div>
                <div>
                    <label><input type="radio" name="ans" value="3" v-model="picked" /> {{q[i].words[3] }}</label>
                </div>

                <div style="text-align: right;">
                    <button type="button" class="btn btn-success btn-lg" v-on:click="check">
                        <i class="fas fa-check"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#eval',
        data: {
            picked: -1,
            i: 0,
            message: "asd",
            q: JSON.parse('[{"words":["té","cable","adiós","móvil"],"answer":"móvil","img":"https://t4.ftcdn.net/jpg/02/34/02/29/240_F_234022949_PRxvgogCFNHPmAbzB5U74wDyumRozrOF.jpg"},{"words":["casa","llave","bolígrafo","teléfono"],"answer":"llave","img":"https://t3.ftcdn.net/jpg/02/61/49/76/240_F_261497686_qg5PcsyOxcON9yKolv2kO6HlDGEfZryG.jpg"}]'),
        },
        methods: {
            check: function (event) {
                if (this.picked < 0 || this.picked > 3) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Please select an answer!',
                    });
                    return;
                }
                if (this.q[this.i].words[this.picked] != this.q[this.i].answer) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Please try again! ' + this.q[this.i].words[this.picked] +  '  ' + this.q[this.i].answer,
                    });
                    return;
                }

                const res = Swal.fire(
                    'Good job!',
                    'You clicked the button!',
                    'success'
                )

                this.i++;
            }
        }
    })
</script>
<%- include('../_partials/footer'); %>