<%- include('_partials/header'); %>

<main role="main" class="container">

  <div class="">
    <h1>Welcome!</h1>
    <p class="lead">Login or Register.</p>
  </div>

</main>



<%- include('_partials/footer'); %>
