<%- include('_partials/header'); %>

<main role="main" class="container">

  <div class="">
    <h1>Welcome!</h1>
    <p class="lead">
      <a href="/auth/login">Login</a> or 
      <a href="/auth/register/">Register</a>
      <a>href="</a>.
    </p>
  </div>

</main>



<%- include('_partials/footer'); %>
