<style>
.centered {
    position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
</style>

<%- include('../_partials/header'); %>
<link rel="stylesheet" href="/stylesheets/quiz.css" />
<div class= "container">
    <div>
        <button type="button" class="btn btn-success" onclick="replay()>Test Again</button>
    </div>
    <div>
    // <button type="button" class="btn btn-success" href="/dashboard">Dashboard</button>
    </div>
</div>


<%- include('../_partials/footer'); %>

<script>
    replay = () => {
        window.history.back();
    }
</script>