<%- include('../_partials/header'); %>
    <div class="container" style="text-align: center;">
        <h4><I>word in native language</I></h4>
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 25rem; text-align: center;">
                <img class="card-img-top" src="https://via.placeholder.com/400x300" alt="Card image cap">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="card-title mb-0">word in learn language</h5>
                        <audio id="word_audio">
                            <source src="/audio/targetSentence.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        <button onclick="togglePlay(word_audio)" type="button"><i class='fas fa-volume-up'></i></button>
                    </div>
                 </div>
            </div>
        </div> 
        
        <hr>
        <h4> Usage</h4>
        <div>
        <audio id="learn_sentence_audio">
                <source src="/audio/targetSentence.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
        </audio>
        <span>learning language text  <button onclick="togglePlay(learn_sentence_audio)" type="button"><i class='fas fa-volume-up'></i></button></span>
        </div>
        <br>

        <div>
        <audio id="native_sentence_audio">
                <source src="/audio/targetSentence.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
        </audio>
        <span>learning language text  <button onclick="togglePlay(native_sentence_audio)" type="button"><i class='fas fa-volume-up'></i></button></span>
        </div>
    <div>

    <script type="text/javascript"> 

    function togglePlay(id) { 
        //id.play(); 
        return id.paused ? id.play() : id.pause();
    }
    current = 0;
    

    
    </script>
<%- include('../_partials/footer'); %>