<%- include('../_partials/header'); %>
    <main role="main" class="container">


            <h1>Welcome to Learning page!</h1>

            <%= results %>
    </main>

    <script type="text/javascript">
    
    current = 0;
    
    
    </script>
<%- include('../_partials/footer'); %>